<style>
    body {
      position: relative;
    }

	p.wordstyle {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-size: 18px;
      color:black;
    }
    h1.wordstyle {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      color:black;
    }

    .affix {
      position: fixed;
      /* top: 20px; */
      z-index: 9999 !important;
    }

    div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
    }

    #section1 {
      color: #fff;
      background-color: #03deca;
    }

    #section2 {
      color: #fff;
      background-color: #02c7b5;
    }

    #section3 {
      color: #fff;
      background-color: #01b9a8;
    }

    #section41 {
      color: #fff;
      background-color: #00a999;
    }

    #section42 {
      color: #fff;
      background-color: #009688;
    }

    #section43 {
      color: #fff;
      background-color: #009688;
    }

    #section44 {
      color: #fff;
      background-color: #009688;
    }

    #section45 {
      color: #fff;
      background-color: #009688;
    }

    #section5 {
      color: #fff;
      background-color: #04786d;
    }

    .section-card {
      border-radius: 4px;
      box-shadow: 1px 2px 2px 0 #4d4d4f93;
    }

	/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



    @media screen and (max-width: 768px) {

      /* #section1,
      #section2,
      #section3,
      #section41,
      #section42 {
        margin-left: 150px;
      } */

      .nav-box {
        background: #fff;
        box-shadow: 1px 2px 2px 0 #4d4d4f93;
        left: 0;
        font-size: 8px;
        color: black !important;
        width: 100%;
      }

      .custom-nav {
        /* padding: 3px !important; */
      }

      .link-custom {
        color: #4d4d4f !important;
        padding: 15px !important;
        font-weight: bold;
      }

      .active {
        border-radius: 0 !important;
        color: #fff !important;
        background-color: #4d4d4f !important;
      }

      .mobile-margin {
        margin-top: 55px;
      }

      .link-custom-drp{
       color: #4d4d4f !important;
        padding: 6px !important;
        font-weight: bold;
      }
    }
  </style>